Models(
  data: [
    Model(
      crisps: [70, 90, 110, 85, 115],
      a: 55,
      b: 120,
      t: 100,
      p: 6,
    ),
    Model(
      crisps: [200, 110, 180, 200, 150],
      a: 60,
      b: 220,
      t: 190,
      p: 10,
    ),
    Model(
      crisps: [90, 120, 150, 80, 170],
      a: 20,
      b: 180,
      t: 140,
      p: 9,
    ),
  ],
)
